<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            {% block title %}
                Shaberi
            {% endblock title %}
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Favicon-->
        <link rel="icon" href="{% static 'chats_app/favicon.ico' %}" type="image/png">
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!--CSS Style-->
        <link rel="stylesheet" href="{% static 'chats_app/base.css' %}">
    </head>
    
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'chats_app:home' %}">
                    <img src="{% static 'chats_app/shaberi-dark.png' %}" alt="" width="40%" height="40%" class="d-inline-block align-text-top" title="Shaberi-Home">
                </a>
            </div>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav text-right">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'chats_app:index' %}">
                            <img src="{% static 'chats_app/chat-bubble.png' %}" alt="chat_room" width="23px" height="23px" title="Enter chat">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <img src="{% static 'userauth/profile-bubble.png' %}" alt="Visit Profile" width="23px" height="23px" title="Visit Profile">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'userauth:edit_profile' %}">
                            <img src="{% static 'userauth/edit-profile-bubble.png' %}" alt="Edit Profile" width="23px" height="23px" title="Edit Profile">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'userauth:logout' %}">LogOut&nbsp;&nbsp;</a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'userauth:user_login' %}">LogIN</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'userauth:register' %}">SignUP</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
          </nav>
        <div class="container-fluid">
        {% block content %}
        {% endblock content %}
        </div>
        <script src="" async defer></script>
    </body>
    <div class="footer" style="background-color: #0d324d;">
        <p>Made with ❤️ using Django</p>
    </div>
</html>