{% extends 'chats_app\base.html' %}
{% load static %}
{% block content %}

<!--CSS Style-->
<link rel="stylesheet" href="{% static 'chats_app/home.css' %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <br>
            <div class="card" id="profile-card">
                <br>
                <div class="text-center">
                    <br>
                    {% if user.is_authenticated %}
                        <p>Hello <strong>{{ user.username }}</strong>!</p>
                    {% else %}
                        <p>Login to chat<br>and<br>Avail Options</p>
                    {% endif %}
                </div>
                <br>
            </div>
        </div>
        <div class="col-9">
            <div class="container-fluid">
                <div class="card about-shaberi">
                    <div class="card-body">
                        <h1>About Shaberi...</h1>
                        <p style="color: #6610f2;"> 
                            Welcome to Shaberi {{ user.username }}!<br><br>
                            喋り in japanese means to Talk 🗣️.
                            <br>
                            Using this web app you can create your <em>Private Chat Room</em>. And talk to your 
                            mates privately...
                            <br><br>
                            
                            <ol>
                                <strong>Steps to chat...</strong>
                                <li>Click the message icon on the top-right corner;</li>
                                <li>You will be redirected to the form where you have to enter the name 
                                    of the room you have to join.</li>
                                <li>Done you are in the room with your mate...</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}