{% extends 'chats_app\base.html' %}
{% block content %}
<form action="{% url 'user_login' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter Username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password">
    <br>
    <input type="submit" name="" value="LogIn!">
    <p>Don't have an account <a href="{% url 'register' %}">Sign UP</a> instead.</p>
</form>
{% endblock content %}